In [1]:
import requests
import datetime
import time

import os
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('./data/DailyData_set(2008-2017)good.xlsx')

In [3]:
searchDay = []
for i, a in enumerate(df['searchDay']):
    a = str(a)

    a = datetime.datetime.strptime(a, '%Y%m%d')
    a = datetime.datetime.strftime(a, '%Y-%m-%d')
    a = datetime.datetime.strptime(a, '%Y-%m-%d')
    searchDay.append(a)

In [4]:
df_searchDay = pd.DataFrame(searchDay)
df_searchDay.columns = ['searchDay']

In [5]:
df = df.drop('searchDay', axis=1)

In [6]:
df = pd.merge(df, df_searchDay , left_index=True, right_index=True)

In [7]:
df.to_excel('./data/2008~2017_with)searchday.xlsx', encoding='utf-8')

In [8]:
df_1 = df.loc[pd.to_datetime(df['openDt']) == df['searchDay']].drop('searchDay', axis=1)
df_2 = df.loc[pd.to_datetime(df['openDt']) + datetime.timedelta(days = 2) == df['searchDay']].drop('searchDay', axis=1)
df_3 = df.loc[pd.to_datetime(df['openDt']) + datetime.timedelta(days = 3) == df['searchDay']].drop('searchDay', axis=1)
# df_a = pd.merge(df_1, df_7, on=['movieNm', 'movieCd'])

#df_1.to_excel('2008-2017영화 개봉일 데이터 셋.xlsx', encoding='utf-8')
#df_7.to_excel('2008-2017영화 개봉 7일 후 데이터 셋.xlsx', encoding='utf-8')
#df_a.to_excel('2008-2017영화 개봉일과 7일 후 차이 나타내는 데이터 셋.xlsx', encoding='utf-8')
#df_a

In [9]:
df_set = pd.merge(df_1, df_2, on='movieNm')
df_set = pd.merge(df_set, df_3, on='movieNm')

In [10]:
audiCnt = []
audiCnt_x = []
audiCnt_y = []
for i, a in enumerate(df_set['audiCnt_x']):
    a = pd.to_numeric(a)
    audiCnt_x.append(a)
for i, a in enumerate(df_set['audiCnt_y']):
    a = pd.to_numeric(a)
    audiCnt_y.append(a)    
for i, a in enumerate(df_set['audiCnt']):
    a = pd.to_numeric(a)
    audiCnt.append(a)
df_set = df_set.drop('audiCnt', 1)
df_set = df_set.drop('audiCnt_x', 1)
df_set = df_set.drop('audiCnt_y', 1)
df_set['audiCnt'] = audiCnt
df_set['audiCnt_x'] = audiCnt_x
df_set['audiCnt_y'] = audiCnt_y
df_set['audiCnt_sum3'] = df_set['audiCnt'] + df_set['audiCnt_x'] + df_set['audiCnt_y']

In [11]:
df1_scrnCnt_theDay = df.drop_duplicates('movieNm', keep='first')
df_scrnCnt_theDay = pd.DataFrame({'movieNm':df1_scrnCnt_theDay['movieNm'], 'openDt':df1_scrnCnt_theDay['openDt'],
                                 'movieCd':df1_scrnCnt_theDay['movieCd'], 'scrnCnt':df1_scrnCnt_theDay['scrnCnt']})

In [12]:
df_audiCnt_sum3 = pd.DataFrame({'movieNm':df_set['movieNm'], 'audiCnt_sum3':df_set['audiCnt_sum3']})

In [13]:
df_set_audiCnt3 = pd.merge(df_scrnCnt_theDay, df_audiCnt_sum3, on='movieNm')
df_set_audiCnt3

                     movieNm      openDt   movieCd  scrnCnt  audiCnt_sum3
0                    기다리다 미쳐  2008-01-01  20070661      238        144443
1               P.S. 아이 러브 유  2008-01-03  20071003      184        113333
2                      꿀벌대소동  2008-01-03  20070563      208        333633
3               우리 생애 최고의 순간  2008-01-10  20070382      379        623137
4                      무방비도시  2008-01-10  20071064      296        448649
5                        미스트  2008-01-10  20071042      188        202851
6                  마법에 걸린 사랑  2008-01-10  20070566      239        153081
7              써티 데이즈 오브 나이트  2008-01-10  20071065      119         44086
8                       더 재킷  2008-01-10  20071063      146         45183
9    스위니 토드 : 어느 잔혹한 이발사 이야기  2008-01-17  20080009      224        260528
10                 뜨거운 것이 좋아  2008-01-17  20070660      229        215720
11            에이리언 VS 프레데터2   2008-01-17  20080010      142        140269
12         엘라의 모험 : 해피엔딩의 위기  2008-01-24  20071014       13        118906
13                     어린 왕자  2008-01-17  20080008      169         37977
14                     클로버필드  2008-01-24  20070672      259        295663
15                   원스어폰어타임  2008-01-31  20080011       17        269853
16                슈퍼맨이었던 사나이  2008-01-31  20071067      349        209701
17                   라듸오 데이즈  2008-01-31  20080015      246         83966
18                  찰리윌슨의 전쟁  2008-02-06  20080021       12         85916
19                   6년째 연애중  2008-02-05  20070548      289        343261
20                    마지막 선물  2008-02-05  20080014      250        112834
21                        점퍼  2008-02-14  20080047        6        599085
22                      어톤먼트  2008-02-21  20080065        9         81875
23                       추격자  2008-02-14  20080046      391        560802
24               스파이더위크가의 비밀  2008-02-14  20080038      158        165481
25             오퍼나지 - 비밀의 계단  2008-02-14  20080024      163         74410
26                  대한이, 민국씨  2008-02-14  20071047      168         64772
27                        주노  2008-02-21  20080054        5         31522
28            데스노트 L: 새로운 시작  2008-02-21  20080062      233        176634
29                 3:10 투 유마  2008-02-21  20080029      127         26205
..                       ...         ...       ...      ...           ...
778                협녀, 칼의 기억  2015-08-13  20130021       11        179429
779                       사도  2015-09-16  20148846       15        508158
780                    에베레스트  2015-09-24  20151421        2         59686
781                     그놈이다  2015-10-28  20157465       13        160650
782               맨 프롬 UNCLE  2015-10-28  20152745        3         23103
783                   검은 사제들  2015-11-05  20145503       19        856784
784               열정같은소리하고있네  2015-11-25  20156748        8        110208
785                     도리화가  2015-11-25  20140144       11         85600
786                     히말라야  2015-12-16  20136068       13        438227
787                     검사외전  2016-02-03  20145507       14       1081763
788                     주토피아  2016-02-17  20155501       22         87393
789                      대배우  2016-03-30  20150902       11         49567
790                    시간이탈자  2016-04-13  20142621       23        109072
791           탐정 홍길동: 사라진 마을  2016-05-04  20142406       24        277921
792                     계춘할망  2016-05-19  20156559       11         69935
793                       곡성  2016-05-12  20140194        5       1341810
794                   싱 스트리트  2016-05-19  20163018       12         57461
795                  하드코어 헨리  2016-05-19  20163182       10         22091
796               엑스맨: 아포칼립스  2016-05-25  20150523        7        405766
797               나우 유 씨 미 2  2016-07-13  20150203      412        460459
798                      부산행  2016-07-20  20156564      425       1538825
799          아이스 에이지: 지구 대충돌  2016-07-20  20161286       12         34572
800                 맨 인 더 다크  2016-10-05  20167481       16        149515
801                       럭키  2016-10-13  20153444       26        532316
802                  너의 이름은.  2017-01-04  20161872      275        307909
803                   조작된 도시  2017-02-09  20150964       10        346223
804                      프리즌  2017-03-23  20162181       14        364291
805                     보통사람  2017-03-23  20167902       12         81626
806              킹 아서: 제왕의 검  2017-05-17  20173961        7         58196
807              킹 아서: 제왕의 검  2017-05-17  20173961        7         85999

[808 rows x 5 columns]

In [14]:
df_set_audiCnt3.corr()

              scrnCnt  audiCnt_sum3
scrnCnt       1.00000       0.23627
audiCnt_sum3  0.23627       1.00000

In [15]:
import numpy
import matplotlib.pyplot as plot
import pandas
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [16]:
# Import the dataset
dataset = df_set_audiCnt3
x = df_set_audiCnt3.iloc[:, :-1].values
y = df_set_audiCnt3.iloc[:, 1].values

# Split the dataset into the training set and test set
# We're splitting the data in 1/3, so out of 30 rows, 20 rows will go into the training set,
# and 10 rows will go into the testing set.
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 1/3, random_state = 0)

linearRegressor = LinearRegression()

linearRegressor.fit(xTrain, yTrain)

yPrediction = linearRegressor.predict(xTest)

ValueError: could not convert string to float: '로맨틱 아일랜드'

In [ ]:
import numpy as np 
from matplotlib import pyplot as plt 
scrnCnt = []
audiCnt_sum3 = []
for i, a in enumerate(df_set_audiCnt3['scrnCnt']):
    scrnCnt.append(a)
for i, a in enumerate(df_set_audiCnt3['audiCnt_sum3']):
    audiCnt_sum3.append(a)    
scrnCnt = np.array(scrnCnt)
audiCnt_sum3 = np.array(audiCnt_sum3)
plt.scatter(scrnCnt, audiCnt_sum3) 
plt.title("3일차 누적 관객수&당일 스크린 개수")
plt.xlabel("3일차 누적 관객수")
plt.ylabel("당일 스크린 갯수")
plt.axis([0, 420, 0, 50])

In [ ]:
def least_squares_fit(x,y):
    beta = correlation(x, y) * standard_deviation(y) / standard_deviation(x)
    alpha = mean(y) - beta * mean(x)
    return alpha, beta

In [ ]:
def predict(alpha, beta, x_i):
    return beta * x_i + alpha

def error(alpha, beta, x_i, y_i):
    return y_i - predict(alpha, beta, x_i)

In [ ]:
def squared_error(x_i, y_i, theta):
    alpha, beta = theta
    return error(alpha, beta, x_i, y_i) ** 2

def squared_error_gradient(x_i, y_i, theta):
    alpha, beta = theta
    return [-2 * error(alpha, beta, x_i, y_i),       # alpha partial derivative
            -2 * error(alpha, beta, x_i, y_i) * x_i] # beta partial derivative

In [ ]:
import random
random.seed(0)
theta = [random.random(), random.random()]
alpha, beta = minimize_stochastic(squared_error, 
                                  squared_error_gradient,
                                  num_friends_good,
                                  daily_minutes_good, 
                                  theta,
                                  0.0001)